:root{
    --bgColor :#171717;
    --bgColorLight : #EDEDED;
    --textColor :#EDEDED ;
    --textColorLight:#171717 ;
    --secondary1:#444444 ;
    --secondary2:#DA0037;
   
  }
  

  html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: var(--bgColor);
    color: var(--textColor);
    font-family: 'Saira', sans-serif;
    position: relative;
  }
  
  *{
    box-sizing: border-box;
    transition: all 0.12s cubic-bezier(0.42, 0.54, 0.22, 1.26);
  }
  

  #out {
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* z-index: -10; */
  }
  

#preloader{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color:var(--bgColor);
  z-index: 1000000;
  display:flex;
  justify-content: center;
  align-items: center;
}
  
  
/*   
  
  
  #duration{
    position: absolute;
    left: 50%;
  }
  #play, #stop{
    transition:  1s linear;
    display:none;
    padding: 10px;
    background-color: #DA0037;
    top:85vh;
    left: 50vw;
    
    color:var(--textColor);
  }
  #mute-icon{
    display: none;
    margin: auto;
    padding: 10px;
    background-color: #DA0037;
  }
  .active{
    display:inline-block !important;
  }
  #audio-player-container{
    display:none;
    position: absolute;
    top:50%;
  }
  #seek-slider{
    -webkit-appearance: none;  
  appearance: none;
  width: 500px; 
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3; 
  color: #DA0037;
  outline: none;
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border: none;
  }
  #seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;  
    appearance: none;
    outline: none; 
    background-color:white !important;
      
    cursor: pointer;
    width: 10px;

  } */

  /* audio::-webkit-media-controls-panel
audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button */
#audio-player-container{
  display:none;
  position: absolute;
  top:50%;
}
#thefile{
  width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

label.file{
  display: inline-block;
  position: absolute;
  padding: 1rem 2rem;
  border-radius: 4px;

  background: var(--secondary1);
  color: var(--textColor);
  font-size: 1.25em;
  font-weight: 700;
  cursor: pointer;
}
audio{
  display: flex;
  position: relative;
  top: 90%;
  left:0;
  width: 90%;
  margin: auto;
  opacity: 0.5;
}
audio:hover {
  opacity: 1;
}
audio::-webkit-media-controls-panel{
  background-color: var(--bgColorLight);
}